/*
it takes degree then colors colors you can assign certain point to stop which is the starting
point of starting the following one you can use rgba but you cannot use hsl the last is 
function for clors h is hue is the degree of color s for sturation grey color l for
lightness color: hsl(3%, 22%, 77%);
*/
div {
    width: 400px;
    height: 200px;
    background-color: #eee;
    margin: 20px auto;
    position: relative;
    padding: 10px;
  }
  div:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    /* background-color: red; */
    height: 10px;
    background-image: linear-gradient(
      to right,
      rgba(222,222,222,3),
      #27ae60 40%,
      #d35400 40%,
      #d35400 60%,
      #8e44ad 60%,
      #8e44ad 80%,
      #c0392b 80%
    );
  }